* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #f8fafc;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
}

.navbar {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar img {
    height: 10vh;
    cursor: pointer;
}

.navbar a {
    color: #FFF;
    text-decoration: none;
    transition: 0.2s;
}

.navbar a:hover {
    color: #2563eb;
    transition: 0.2s;
}

.navbar button {
    background: #2563eb;
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 16px 25px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.navbar button:hover {
    background: #3575ff;
    transition: 0.2s;
}

.inicio {
    width: 100%;
    height: 100vh;
    background: url(./imgs/backgroud.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: initial;
    align-items: end;
}

.contain {
    width: 40%;
    height: 60vh;
    margin: 5rem;
}

.contain h1 {
    font-size: 36pt;
}

.contain h1 span {
    color: #2563eb;
}

.contain .btn {
    width: 40%;
    height: 10%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.contain .btn:first-of-type {
    background: #2563eb;
    border: 1px solid #2563eb;
}

.contain .btn {
    background: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    font-size: 12.5pt;
    transition: 0.4s;
}

.contain .btn:first-of-type:hover {
    background: #3575ff;
    border: 1px solid #3575ff;
    transition: 0.4s;
    color: rgb(255, 255, 255, 1);
}

.contain .btn:hover {
    transition: 0.4s;
    background: rgb(255, 255, 255, 0.2);
    border: 1px solid rgb(255, 255, 255, 0.2);
    color: rgb(255, 255, 255, 0.7);
}

.servicos {
    width: 100%;
    height: 70vh;
    background: #050E1C;
}

hr {
    border: 1px solid #3575ff;
    width: 5%;
    margin: 1rem auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 30%;
    height: auto;
    margin: 1rem;
    background: #0f172a;
    border-radius: 1rem;
    border: 2px solid #171F2F;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card p {
    font-size: 14pt;
    margin: 1rem;
}

.card svg {
    color: #2563eb;
}

h2 {
    color: #2563eb;
    text-align: center;
    padding: 1rem;
}

h3 {
    text-align: center;
    font-size: 28pt;
}

h4 {
    color: #2563eb;
    text-transform: uppercase;
}

h5 {
    font-size: 24pt;
    text-transform: uppercase;
    margin: 1rem;
}

.diferenciais {
    width: 100%;
    height: 50vh;
    background: #000B1C;
}

.diferenciais .container {
    width: 100%;
}

.diferenciais .contain {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.diferenciais svg {
    width: 40%;
    height: auto;
    color: #2563eb;
    margin: 1rem;
}

.sobre-mim {
    width: 100%;
    height: 75vh;
    background: #FFF;

    display: flex;
    align-items: center;
}

.sobre-mim div {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre-mim div h3,
.sobre-mim div p {
    width: 50%;
    color: #0f172a;
    text-align: justify;
    margin: 10px;
}

.sobre-mim div img {
    border-radius: 2rem;
}

.resultados {
    width: 100%;
    height: 50vh;
    background: #000B1C;
}

.resultados .container {
    width: 100%;
}

.resultados .container .contain {
    width: 20%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.resultados svg {
    width: 20%;
    height: auto;
    color: #2563eb;
}

.resultados .contain h5 {
    color: #2563eb;
}

.contato {
    width: 100%;
    height: 35vh;
    background: #2563eb;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contato div {
    width: 35%;
    text-align: justify;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.contato div svg {
    width: 100%;
    height: auto;
}

.contato .btn:first-of-type {
    width: 50%;
    height: 7vh;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 1rem;
    color: #FFF;
    background: #25D366;

    font-size: 12.5pt;
    font-weight: 600;
    transition: 0.3s;
}

.contato .btn:first-of-type:hover {
    background: #15eb64;
    color: #FFF;
    transition: 0.3s;
}

.contato .btn {
    width: 50%;
    height: 7vh;
    border-radius: 8px;
    border: 2px solid #FFF;
    cursor: pointer;
    margin: 1rem;
    color: #FFF;
    background: transparent;

    font-size: 12.5pt;
    font-weight: 600;
    transition: 0.3s;
}

.contato .btn:hover {
    background: #FFF;
    color: #3575ff;
    transition: 0.3s;
}

.contato .btn svg {
    width: 48px;
    height: auto;
}

footer {
    width: 100%;
    height: 35vh;
    background: #000B1C;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div {
    display: flex;
    flex-direction: column;
}

footer div img {
    width: 15%;
}

footer div a {
    text-decoration: none;
    color: #FFF;
    margin: 8px;
}

footer div p {
    text-decoration: none;
    color: #FFF;
    margin: 8px;
}

h6 {
    font-size: 14pt;
}

@media (max-width: 1426px) {
    .card h5 {
        font-size: 18pt;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card p {
        font-size: 10pt;
    }

    .card svg {
        color: #2563eb;
    }

    .diferenciais p {
        font-size: 10pt;
    }

    .resultados .contain h5 {
        color: #2563eb;
        font-size: 14pt;
    }

    .resultados .contain p {
        font-size: 10pt;
    }
}

@media (max-width: 1190px) {
    .contain .btn {
        font-size: 10pt;
    }

    .card h5 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .diferenciais p {
        font-size: 8pt;
    }

    .diferenciais svg {
        width: 60%;
    }
}